<div class="jumbotron jumbotron-fluid" style="background-color: #bad6f3;">
  <div class="container">
    <h1 class="display-4">Bar Page</h1>
    <p class="lead">Explore different Bars in the USA</p>
  </div>
</div>

<div class="container">

    <p-table [value]="bars">
      <ng-template pTemplate="header">
          <tr>
            <th>Bar Name</th>
            <th>Bar ID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
          <tr>
            <td>
              <a routerLink="/bars/{{bar.barname}}">
                {{bar.barname}}
              </a>
            </td> 
            <td>{{ bar.barID }}</td>
            <td>{{ bar.address }}</td>
            <td>{{ bar.city }}</td>
            <td>{{bar.state}}</td>
            <td>{{ bar.zipcode }}</td>
          </tr>
      </ng-template>
    </p-table>
    

  </div>
  
  <br><br>
