
<div class="jumbotron jumbotron-fluid" style="background-color: #bad6f3;">
  <div class="container">
    <h1 class="display-4">Drinker Page</h1>
    <p class="lead">Explore Drinker</p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Drinker</h2>
  <p-table [value]="drinkers">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Driver License</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr>
        <td><a routerLink="/drinkers/{{ drinker.name }}">{{ drinker.name }}</a></td>
        <td>{{ drinker.driverlicense }}</td>
        <td>{{ drinker.address }}</td>
        <td>{{ drinker.city }}</td>
        <td>{{ drinker.state }}</td>
        <td>{{ drinker.phone }}</td>
        <td>{{ drinker.gender }}</td>
        <td>{{ drinker.age }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>


<div class="container">
  <br>
  <div id="bargraph">
    
  </div>
</div>