<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ manfName }}</h1>
    <p class="lead">Manufacturers Stats</p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Number of Beers with QTY Sold</h2>
  <p-table [value]="toptotalsold">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Beer Name</th>
        <th class="text-center">Total Qty</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manf>
      <tr>
        <td class="text-center">{{ manf.itemname }}</td>
        <td class="text-center">{{ manf.totalsold }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">A Region Where Sales Were HIGHEST Last Week</h2>
  <p-table [value]="topregion">
    <ng-template pTemplate="header">
      <tr> 
        <th class="text-center">City</th>
        <th class="text-center">State</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manf>
      <tr>
        <td class="text-center">{{ manf.city }}</td>
        <td class="text-center">{{ manf.state }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">A Region Where Their Beers are Liked the Most</h2>
  <p-table [value]="topregiondrinker">
    <ng-template pTemplate="header">
      <tr> 
        <th class="text-center">City</th>
        <th class="text-center">State</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manf>
      <tr>
        <td class="text-center">{{ manf.city }}</td>
        <td class="text-center">{{ manf.state }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>