<div class="jumbotron jumbotron-fluid" style="background-color: #bad6f3;">
  <div class="container">
    <h1 class="display-4">Manufacturers Page</h1>
    <p class="lead">Explore Beer Manufacturers</p>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">DETAILS OF BEER MANUFACTURERS IN THE USA</h2>
  <p-table [value]="manf">
    <ng-template pTemplate="header">
      <tr> 
        <th class="text-center">Manufacturer</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-manufacturer>
      <tr>
        <td class="text-center"><a routerLink="/manufacturers/{{ manufacturer.maker }}">{{ manufacturer.maker }}</a></td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>