<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{tableName}} Table</h1>
      
      
    </div>
  </div>

  <div class="container form-group" >
    <h2 class="text-center font-weight-light">Modification Page</h2>
    <form method="get">
      <p-table [value]="column_name">
        <ng-template pTemplate="header">
          <tr>
            <th>Column Name</th>
            <th>Value</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-colname>
          <tr>
            <td>{{ colname.column_name }}</td>
            <td>
  
              <div class="form-group row">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputtext">
                </div>
              </div>
  
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br><br>

      <div class="container text-center">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Submit</button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="alert alert-success alert-dismissible">
                <a  class="close" data-dismiss="modal" aria-label="close">&times;</a>
                <strong>Success!</strong> Indicates a successful insert into DB!
              </div>
            </div>
          </div>
      </div>

    </form>
    <br><br>
  </div>


