
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{drinkerName}}</h1>
    <p class="drinker-details" *ngIf="drinkerDetails">
      {{drinkerDetails?.address}} <span *ngIf="drinkerDetails.Address && drinkerDetails.City">|</span>
      {{drinkerDetails?.city}} | {{drinkerDetails?.state}} <br> Contact# : {{drinkerDetails?.phone}}
    </p>
  </div>
</div>

<div class="container">
    <h2 class="text-center font-weight-light">Transactions</h2>
    <p class="text-center">Top 10 Transaction Details</p>
    <p-table [value]="drinkerTransactions">
      <ng-template pTemplate="header">
        <tr>
          <th>TransID</th>
          <th>TransDate</th>
          <th>TransDay</th>
          <th>TransTime</th>
          <th>Total</th>
          <th>BarName</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-beer>
        <tr>
          <td>{{ beer.transID }}</td>
          <td>{{ beer.transdate }}</td>
          <td>{{ beer.transday }}</td>
          <td>{{ beer.transtime }}</td>
          <td>{{ beer.total | currency }}</td>
          <td>{{ beer.barname }}</td>
        </tr>
      </ng-template>
    </p-table>
    <br><br>
  </div>

  